@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Space+Grotesk:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: 'Space Grotesk', sans-serif;
   color: rgb(65, 64, 64);
   background-color: aliceblue;
   border-top: 10px solid aliceblue;
}

h1, h2 {
   color: rgb(15, 15, 82);
   font-family: 'Odibee Sans', cursive;
   letter-spacing: 3px;
}


#logo {
   float: right;
   padding-right: 10%;
   font-size: 400%;
   letter-spacing: 7px;
}

/* navigation menu */

#menu {
   font-size: 120%;
   float: left;
   padding-left: 5%;
}

#menu,
#logo {
   line-height: 80px;
}

#menu li {
   margin-right: 30px;
   list-style-type: none;
   float: left;
}

#menu a {
   text-decoration: solid;
   color: rgb(65, 64, 64);
   font-weight: bold;
}

#menu a:hover {
   border-bottom: 2px solid rgb(15, 15, 82);
}

.active {
   border-bottom: 2px solid rgb(15, 15, 82);
}


/* hero image and cover text */

#hero-outer {
   height: 700px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
   height: 700px;
   width: 100%;
   background: url('../images/hero-image.jpg') no-repeat center center;
   background-size: cover;

/* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
   from{
       transform: scale(1);
   }
   to{
       transform: scale(1.1);
   }
}

#cover-text,
#cover-text h2 {
   color: aliceblue;
   text-align: center;
}

#cover-text {
   font-size: 110%;
   letter-spacing: 3px;
   background-color: rgba(15, 15, 82, .8);

   width: 300px;
   height: 150px;

   padding-top: 30px;
   padding-left: 10px;

   bottom: 50%;
   right: 175px;
   position: absolute;
}

/* what we do */

#what-we-do {
   height: 400px;
   text-align: left;
   font-size: 150%;
   padding: 5%;
   line-height: 200%;
   border-top: 10px solid aliceblue;
}

#what-we-do h2 {
   font-size: 200%;
   padding-left: 7%;
   padding-bottom: 2%;
}

#what-we-do ul {
   list-style-position: inside;
}

/* days, times and age */

#days-times {
   height: 850px;
   text-align: center;
   font-size: 150%;
   padding: 5%;
   line-height: 200%;
   border-top: 10px solid aliceblue;
}

#days-times h2 {
   font-size: 200%;
   text-align: left;
   padding-left: 7%;
   padding-bottom: 2%;
}

#days-times table {
   border: 5px solid aliceblue;
   float: left;
   margin-left: 5%;
   margin-top: 5%;
   width: 40%;
   height: 250px;
   color: aliceblue;
   background-color: rgba(15, 15, 82, .5);
}

#bottom-image {
   height: 750px;
   width: 100%;
   background: url('../images/2-girls-cycling.jpg') no-repeat;
   
}

#gallery {
   clear: both;
   column-count: 2;
   column-gap: 0;
   padding-bottom: 5%;
}

#gallery > img {
   width: 100%;
}

.row {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
 }
 
 /* Create two equal columns that sits next to each other */
 .column {
   flex: 50%;
   max-width: 100%;
   padding: 0 4px;
 }
 
 .column img {
   margin-top: 8px;
   vertical-align: middle;
   width: 100%;
 }
 
 /* Form */
 
 .form-section {
    height: 800px;
    clear: both;
    border-top: 50px;

 }
 .signup-form {
    background-color: rgba(15, 15, 82, .7);
    max-width: 50%;
    color: aliceblue;
    font-size: 150%;
    padding: 25px;
    margin-left: 15%;
    margin-top: 7%;
    
 }
 .signup-form h2 {
    text-align: center;
    color: aliceblue;
 }

 .text-input {
   width: 100%;
   height: 25px;
   margin: 5px 0 20px 0;
   border: 1px solid aliceblue;
   border-radius: 2px;
 }
 .join-button {
   margin-top: 20px;
   border-radius: 2px;
   padding: 15px 32px 15px 32px;
   text-align: center;
   font-size: 100%;
   background-color: rgb(15, 15, 82);
   color: aliceblue;
   display: block;
}

 
 /* About Us page */

 #about-us {
    height: 600px;
    width: 100%;
    
    border-bottom: 50px solid aliceblue;
    overflow: hidden;
 }
 #who-we-are {
    height: 550px;
    width: 100%;
    color:rgb(65, 64, 64);
    font-size: 120%;
    text-align: center;
    background-color: rgba(240, 248, 255, .8);
    padding-top: 10%;
    position: absolute;
 }

 #who-we-are h2 {
    font-size: 200%;
    text-align: center;
 }

 #scenic-image {
    width: 100%;
    height: 550px;
    background: url('../images/WestportIMG_E3434_hinxrt\ \(1\).jpg') no-repeat center center;
    background-size: cover;
    
 }

 



 
 

/* footer */

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(15, 15, 82);
   color: white;
   text-align: center;
}

footer>ul>li {
   display: inline;
}

footer i {
   font-size: 150%;
   color: aliceblue;
   padding: 1%;
}

/* Responsive layout */

@media (min-width: 1281px) {
   #hero-image {
      height: 800px;
}
   #hero-outer {
      height: 550px;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
   #hero-image {
      height: 600px;
}
   #hero-outer {
      height: 450px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
   #logo {
      line-height: 75px;
}
}

@media (min-width: 481px) and (max-width: 767px) {
   #logo {
      text-align: center;
   }

   #what-we-do {
      height: fit-content;
   } 
   #cover-text {
      right: 10px;
   }
 }

 @media (min-width: 320px) and (max-width: 480px) {
   #logo {
      line-height: 55px;
      text-align: center;
   }
   #cover-text {
      right: 10px;
   }
   #menu {
      width: 33%;
      line-height: 35px;
      border-bottom: 4px;
   }
   #menu li {
      width: 100%;
      padding: 4px;
      text-decoration: none;
   }
   #what-we-do {
      height: 850px;
   }
   
   #who-we-are {
      height: 650px;
      
   }
 }

 