@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Space+Grotesk:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: 'Space Grotesk', sans-serif;
   color: red;
   background-color: rgb(231, 251, 244);
}

h1 {
   color: blue;
   font-family: 'Odibee Sans', cursive;
}

#logo {
   float: left;
   padding-left: 5%;
   padding-top: 1%;
   font-size: 300%;
   letter-spacing: 7px;
}

#menu {
   font-size: 120%;
   float: right;
}

#menu, #logo {
   line-height: 60px;
}

#menu li {
   margin-right: 30px;
   list-style-type: none;
   float: left;
}

#menu a {
   text-decoration: solid;
   color: blue;
   font-weight: bold;
}

#menu a:hover {
   border-bottom: 2px solid blue;
}

.active {
   border-bottom: 2px solid blue;
}
/* hero image */

#hero-image {
   height: 600px;
   width: 100%;
}