@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Space+Grotesk:wght@300&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: 'Space Grotesk', sans-serif;
   color: red;
   background-color: rgb(231, 251, 244);
}

h1, h2 {
   color: blue;
   font-family: 'Odibee Sans', cursive;
}

#logo {
   float: right;
   padding-right: 10%;
   padding-top: 5%;
   font-size: 400%;
   letter-spacing: 7px;
}

#menu {
   font-size: 120%;
   float: right;
}

#menu, #logo {
   line-height: 60px;
}

#menu li {
   margin-right: 30px;
   list-style-type: none;
   float: left;
}

#menu a {
   text-decoration: solid;
   color: blue;
   font-weight: bold;
}

#menu a:hover {
   border-bottom: 2px solid blue;
}

.active {
   border-bottom: 2px solid blue;
}


/* hero image */

#hero-image {
   height: 850px;
   width: 100%;
   background: url('../images/pexels-dietmar-janssen-175353_mfceae\ \(1\).jpg') no-repeat center center;
   background-size: cover;
}

#cover-text, #cover-text h2 {
   color: blue;
   text-align: center;
   
}

#cover-text {
   font-size: 110%;
   letter-spacing: 3px;
   
   width: 300px;
   height: 150px;
   background-color:aquamarine;

   padding-top: 30px;
   padding-left: 10px;

   bottom: 350px;
   right: 175px;
   position: absolute;
}

#cover-text h2 {
   
}